.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.table {
    width: 1400px;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.thead {
    background-color: #40d8ff;
}

.th, .td {
    padding: 12px;
    text-align: left;
}

.th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

.tr {
    border-bottom: 1px solid red; /* Red border at the bottom */
}

.tr:nth-child(even) {
    background-color: #f9f9f9;
}

.answer-row {
    padding: 12px;
    border-bottom: 1px solid red; /* Red border at the bottom */
    background-color: #f8f8f8;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

.button:hover {
    background-color: #218838;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.modal-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.modal-button:hover {
    background-color: #218838;
}

/* Responsive styles */
@media (max-width: 768px) {
    .th, .td {
        padding: 8px;
    }

    .button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .th, .td {
        display: block;
        width: 100%;
        text-align: right;
    }

    .th::before, .td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .th, .td {
        padding: 8px 0;
        text-align: left;
    }

    .tr {
        display: block;
        margin-bottom: 11px;
    }
}
