.asd:hover{
    color: red;

}
.asd{
    font-size: 18px;
}
.h0{
    width: 114px;
    height: 30px;
    top: 47px;
    left: 136px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;


}
.op{
    font-size: 20px;
}