.footer-container {
    background-color: #004530;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 1930px;
    max-height: 388px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
}

.footer-section2{
    color: #F0D09C;
    text-align: center;
    margin: 0 20px;
}

.footer-section1{
    flex: 1;
    text-align: center;
    color: #F0D09C;
    margin: 0 10px;
}

.footer-section3{
    flex: 1;
    text-align: center;
    color: #F0D09C;
    margin: 0 10px;
}

.footer-section4{
    flex: 1;
    text-align: left;
    color: #ffffff;
    margin: 0 10px;
}

.footer-section {
    flex: 1;
    text-align: center;
    color: #F0D09C;
    margin: 0 10px;
}

.footer-section5{
    margin-left: -90px;
}

.footer-logo {
    width: 352px;
    height: 242px;
    margin-left: -160px;
}

.footer-icon {
    width: 150px;
    height: auto;
    margin: 20px 0;
}

.footer-icon-ggl{
    width: 150px;
    height: auto;
    margin: 15px 0;
}

.footer-icon2{
    width: 114.09px;
    height: 114.09px;
    margin: 10px 10px 10px 20px;
}

.footer-section, .footer-section2, .footer-section4 h4 {
    color: #F0D09C;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-section4 p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 5px 0;
}

.footer-section p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 5px 0;
    color: #b1b1b1;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
   margin-left: 100px;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    .footer-container{
        width: 1768px;
    }
}
