.main-img {
    background-image: url("../files/4aa7439ad1c7de51f56d614d10e59584.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930px;
    height: 900px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px -100px 160px 40px #171717 inset;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 1930px;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: space-between;
}

.img1 {
    width: 105.46px;
    height: 66.76px;
    margin-top: -25px;
}

.nav-body {
    display: flex;
    gap: 30px;
}

.linear{
    width: 1950px !important;
    height: 3.5px;
    background-color: #FFFFFF;
    margin-left: -59.3px;
    margin-right: -59.3px;
}

.nav-body .montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    color: #fff;
    cursor: pointer;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 44px;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -10px;

}



.hero-text {
    color: #fff;
    width: 70%;
    margin: 50px 150px;
    text-align: center;
}

.hero-text p {
    font-family: "Noto Serif", serif;
    font-size: 84px;
    font-weight: 700;
    line-height: 112px;
    text-align: left;
    margin-top: -70px !important;
}

.hero-subtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    width: 50%;
}
.div-info {
    display: flex;
    flex-direction: row;
    max-width: 1842px;
    max-height: 854.06px;
    padding: 20px;
    gap: 50px;
    margin-top: -70px;
}

.image-container {
    flex: 1.2;
    position: relative;
}

.img2 {
    max-width: 752.43px;
    max-height: 854.03px;
    object-fit: cover;
    margin-top: -10%;
}


.text-container {
    flex: 1.5;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.info-item {
    display: flex;
    align-items: flex-start;
}

.info-item2{
    display: flex;
    align-items: flex-start;
}

.info-item3{
    display: flex;
    align-items: flex-start;
}

.icons {
    max-width: 80.71px;
    max-height: 80.71px;
    margin-top: 70px;
    margin-left: -10px;
}

.icon {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 10px;
}

.icones {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 47px;
}

.text-content2 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content2 p{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content3 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content3 p{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.text-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
}
.we{
    display: flex;
    padding: 10px;
    margin-top:-150px ;
}

.image-container {
    position: relative;
    width: 650px;
    height: 850.52px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.cm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 80px;
    border-radius: 40px;
}



.image-containerr {
    position: relative;
    width: 100%;
    height: 795px;
    border-radius: 40px;
    background-size:100%,contain ;
    margin-top: 50px;
    overflow: hidden;
}
.image-containerr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 237, 237, 0) 40%, rgba(9, 8, 8, 0.96) 90.67%);
    border-radius: 10px;

}
.cd {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1930px;
    flex-wrap: wrap;
    gap: 30px;
}


.ms {
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: #FFFFFF;
    z-index: 1;
}

.ms h2, .ms p {
    padding: 0;
}

.button12 {
    background: #00D594;
    border: none;
    padding: 10px 20px;
    width: 206px;
    height: 68px;
    color: white;
    cursor: pointer;
    margin-left: 120px;
}

.button12 img {
    vertical-align: middle;
    margin-right: 5px;
}

.you1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #004530;
    margin-bottom: 20px;
}

.you2{
    font-family: "Noto Serif", serif;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 112.02px;
    text-align: left;
    margin-left: 50px;
}

.you {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #666;
    width: 1000px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.girl-img{
    width: 352px;
    margin-top:-40px;
    border-radius: 14px;
}
.me{
    max-width: 1050px !important;
    max-height: 586.27px;
    gap: 169.6px;
    border-radius: 28.27px;
    background: #8DD3BB;


}
.me{
    font-family: "Montserrat", sans-serif;
    font-size: 56.53px;
    font-weight: 700;
    line-height: 68.92px;
    text-align: left;
    color: #FFFFFF;
    padding-left:10px;

}
.wit{
    width: 400.45px;
    height: 282.67px;
    border-radius: 16.96px 0px 0px 0px;
    border: 2.83px ;
    margin-bottom: 25px;
    margin-left: 25px;
}
.kl{
    display: flex;
    padding: 10px;
    max-width: 1930px;
    justify-content: center;
}
/*.react-multi-carousel-item{*/
/*    background-color: black!important;*/
/*}*/
.react-multi-carousel-item{
   display: flex!important;
    justify-content: center!important;
    width: 430px;
    gap: 220px!important;
}
.be {
    background-color: #ffffff;
    color: #8DD3BB;
    border: 1.41px solid #8DD3BB;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 45px;
}



.text-class{
    font-family: "Montserrat", sans-serif;
    font-size: 25.55px;
    font-weight: 700;
    max-width: 1002px;
    line-height: 37.25px;
    text-align: left;
    color: #fff;
    margin-left: 300px;
    margin-top: 70px;
}

.div-request{
    background-image: url("../files/rasmcha.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930px;
    width: 1577.16px;
    height: 400px;
    top: 5026px;
    border-radius: 15px;
    padding-top: 50px;
    margin: 50px auto;
    justify-content: center;
}

.same-class{
    font-size: 25.26px;
    font-weight: 300;
    line-height: 38.28px;
    text-align: left;
    color: #fff;
    margin-left: 300px;
}

.request-text{
    margin-top: -410px;
    margin-left: 50px;
}



.input1{
    display: block;
    margin-bottom: 20px;
}

.input{
    display: flex;
}

.input-container input{
    margin-right: 612px;

}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input, .input1 {
    width: 80%;
    max-width: 450.15px !important;
    height: 55px;
    padding: 10px;
    margin-left: 435px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.box{
    display: flex;

}

.request-button {
    width: 100%;
    max-width: 262px;
    height: 55px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00D594;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: -64px;
    margin-left: 570px;
}

.request-button:hover {
    background-color: #00b67f;
}
.me{
    width: 1000px;
    margin-left: 20px;
}

.us{
    font-family: "Noto", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    text-align: center;
    max-width: 1930px;
}
.buttin{
    width: 254px;
    height: 66px;
    top: 7304.44px;
    left: 833px;
    gap: 0px;
    opacity: 0px;
    background: #00D594;
    border:1px solid #00D594 ;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
ul.your-class li, ol.your-class li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.div-travel {
    padding: 50px 0;
    text-align: center;
}

@media screen and (max-width: 1930px){
    .button12{
        margin-left: 0px;
    }

    .div-request{
        width: 1277px;
    }

    .me{
        width: 605px;
        margin-left: 0px;
    }
    .wit{
        margin-left: 25px;
    }
    .be{
        margin-right:40px ;
    }




}

@media screen and (max-width: 1300px) {
    .main-img{
        width: 1500px;
    }

    .div-info{
        width: 1500px;
    }


    .cd{
        width: 1768px;
    }

    .div-request{
        margin: 20px 250px;
    }

    .kl{
        margin-left: 850px;
    }

    .page-container, .m{
        width: 1768px;
    }
}

@media  screen and (max-width: 1213px) {
    .main-img{
        width: 1980px;
    }

}

@media screen and (max-width: 768px) {
    .main-img{
        width: 1768px;
    }

    .div-info{
        width: 1768px;
    }

    .cd{
        width: 1768px;
    }

    .div-request{
        margin: 20px 250px;
    }

    .comment-name{
        margin-left: -80px;
        margin-top: 50px;
    }

    .kl{
        margin-left: 850px;
    }

    .page-container, .m{
        width: 1768px;
    }

}
@media screen and (max-width: 1200px) {
    .div-travel {
        padding: 40px 20px;
    }

    .you1 {
        font-size: 35px;
        line-height: 50px;
    }

    .you {
        font-size: 18px;
        line-height: 28px;
    }
    .me{
        margin-left: 100px;
    }

    .be {
        width: 113.23px;
        height: 56.53px;
        gap: 14.13px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-right: -460px;*/
        /*margin-left: -460px;*/
    }


    .div-travel > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .box{
        margin-left: -650px;
    }
    .rem{
        max-width: 1930px;
        display: flex;
        align-items: center;
        gap: 125px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .me{
        width: 750px;

    }

}
/*asd*/
@media screen and (max-width: 768px){
    .comment-name{
     display: flex;
        margin-left: 150px;

    }
    .comment-text{
        display: flex;
        margin-left: 190px;
    }
    .me2{
        width: 900px;

    }
    .box{
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 30px;

    }

    .be{
        width:  113.23px;
        height:  56.53px;
        gap: 14.13px;
    }

    .buttin{
        display: flex
    ;
        justify-content: center;
        align-items: center;
        margin-left: 760px;

    }
    .box1{
        width: 1280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .me{
        margin-left: 450px;
    }

    .us{
        margin-left: 710px;
        width: 700px;
    }

    .uss{
        margin-left: 100px;
    }

    .button12{
        margin-left: 90px;
    }

    .div-request{
        width: 1277px;
    }

    .me{
        width: 880px;
    }
    .wit{
        margin-left: 25px;
    }
    .rem{
        max-width: 1930px;
        display: flex;
        align-items: center;
        gap: 125px;
        margin: 0 auto;
        justify-content: space-between;

    }
    .you1{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-width: 1300px){
    .main-img{
        width: 1768px;
    }
    .comment-name{
        display: flex;
        margin-left: 150px;

    }
    .comment-text{
        display: flex;
        margin-left: 190px;
    }
    .me2{
        width: 700px;

    }
    .box{
        display: flex;
        margin-left: -370px;
    }

    .us{
        margin-left: 410px;
    }

    .be{
        width:  113.23px;
        height:  56.53px;
        gap: 14.13px;
        margin-right: -460px  ;
        margin-left: 460px;

    }
    .buttin{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 760px;

    }
    .box1{
        width: 1280px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .div-request{
        width: 1477px;
        margin: 20px 170px;
    }

    .same-class{
        width: 1050px;
        font-size: 29.15px;
    }

    .input-container{
        margin-left: -200px;
    }

    .text-class{
        font-size: 29.55px;
        width: 1100px;
    }

    .me{
        width: 880px;
    }

}

.rem{
    max-width: 1930px;
    display: flex;
    align-items: center;
    gap: 125px;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .main-img{
        width: 1768px;
    }

    .text-class{
        font-size: 29.55px;
        width: 1100px;
    }

    .same-class{
        width: 1050px;
        font-size: 29.15px;
    }

    .div-info{
        width: 1500px;
    }


    .cd{
        width: 1768px;
    }

    .div-request{
        width: 1477px;
        margin: 20px 170px;
    }

    .input-container{
        margin-left: -200px;
    }

    .kl{
        margin-left: 850px;
    }

    .page-container, .m{
        width: 1768px;
    }
    .me{
        width: 880px;
    }
    .box{

    }
}