.main-img {
    background-image: url("../files/4aa7439ad1c7de51f56d614d10e59584.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930px;
    height: 800px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: space-between;
}

.img1 {
    width: 105.46px;
    height: 66.76px;
    margin-top: -25px;
}

.nav-body {
    display: flex;
    gap: 30px;
}

.line{
    width: 102.7%;
    height: 2.5px;
    background-color: #FFFFFF;
    margin-top: -180px;
    margin-left: -20px;
}

.nav-body .montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    color: #fff;
    cursor: pointer;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 44px;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -10px;
}

.hero-text {
    color: #fff;
    width: 70%;
    margin: 100px 150px;
    text-align: center;
}

.hero-text p {
    font-family: "Noto Serif", serif;
    font-size: 84px;
    font-weight: 700;
    line-height: 112px;
    text-align: left;
    margin-top: -70px !important;
}

.hero-subtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    width: 50%;
}
.div-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1842px;
    max-height: 854.06px;
    padding: 20px;
    gap: 50px;
}

.image-container {
    flex: 1.2;
    position: relative;
}

.img2 {
    max-width: 752.43px;
    max-height: 854.03px;
    object-fit: cover;
    margin-top: -10%;
}


.text-container {
    flex: 1.5;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.info-item {
    display: flex;
    align-items: flex-start;
}

.info-item2{
    display: flex;
    align-items: flex-start;
}

.info-item3{
    display: flex;
    align-items: flex-start;
}

.icons {
    max-width: 80.71px;
    max-height: 80.71px;
    margin-top: 70px;
    margin-left: -10px;
}

.icon {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 10px;
}

.icones {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 47px;
}

.text-content2 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content2 p{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content3 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content3 p{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.text-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
}
.we{
    display: flex;
    margin-left: 35px;
}

.image-container {
    position: relative;
    width: 650px;
    height: 650.52px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.cm {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.image-containerr {
    position: relative;
    width: 650px;
    height: 550.52px;
    margin-top: 100px;
    border-radius: 10px;

    overflow: hidden;
}
.image-containerr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 237, 237, 0) 40%, rgba(9, 8, 8, 0.96) 90.67%);
    border-radius: 10px;
}
.cd {
    display: flex;
    max-width: 1396px;
    flex-wrap: wrap;
    gap: 86px;
}


.ms {
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: #FFFFFF;
    z-index: 1;
}

.ms h2, .ms p {
    padding: 0;
}

.button12 {
    background: #00D594;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;

}

.button12 img {
    vertical-align: middle;
    margin-right: 5px;
}

.you1{
    font-family: "Noto Serif", serif;
    margin-top:200px;
    font-size: 50px;
    font-weight: 700;
    line-height: 112.02px;
    text-align: left;
    margin-left: 40px;
}

.you2{
    font-family: "Noto Serif", serif;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 112.02px;
    text-align: left;
    margin-left: 40px;
}

.you{
    font-family: "Montserrat", sans-serif;
    font-size: 29.01px;
    font-weight: 400;
    line-height: 36.58px;
    text-align: left;
    margin-left: 80px;
}
.girl-img{
    width: 352px;
    margin-top:20px;
    border-radius: 14px;

}
.me{
    width:  797.84px !important;
    max-height: 586.27px;
    padding: 33.92px 0px 0px 0px;
    gap: 169.6px;
    border-radius: 28.27px;
    opacity: 0px;
    angle: -0.08 deg;
    background: #8DD3BB;
}
.me{
    font-family: "Montserrat", sans-serif;
    font-size: 56.53px;
    font-weight: 700;
    line-height: 68.92px;
    text-align: left;
    color: #FFFFFF;
    padding-left:10px


}
.wit{
    width: 320.45px;
    height: 282.67px;
    border-radius: 16.96px 0px 0px 0px;
    border: 2.83px 0px 0px 0px;
    margin-bottom: 20px;

}
.kl{
    display: flex;
    gap: 10px;
    max-width: 1930px;
    justify-content: center;
}
.text-class{
    font-family: "Montserrat", sans-serif;
    font-size: 30.55px;
    font-weight: 700;
    max-width: 1132px;
    line-height: 37.25px;
    text-align: left;
    color: #fff;
    margin-left: 350px;

}

.div-request{
    background-image: url("../files/rasmcha.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930.16px;
    height: 459.2px;
    top: 5026px;
    border-radius: 15px;
    padding-top: 50px;
    margin-top: 200px;
}

.same-class{
    font-size: 31.41px;
    font-weight: 300;
    line-height: 38.28px;
    text-align: left;
    color: #fff;
    margin-left: 350px;
}

.request-text{
    margin-top: -410px;
    margin-left: 50px;
}



.input1{
    display: block;
    margin-bottom: 20px;
}

.input{
    display: flex;
}

.input-container input{
    margin-right: 612px;
    width: 300px !important;
}

.input-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input, .input1 {
    width: 80%;
    max-width: 400px !important;
    height: 45px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.request-button {
    width: 80%;
    max-width: 262px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00D594;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: -64px;
    margin-left: 200px;
}

.request-button:hover {
    background-color: #00b67f;
}


.us{
    font-family: "Noto", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    text-align: center;
    max-width: 1930px;
}
.buttin{
    width: 254px;
    height: 66px;
    top: 7304.44px;
    left: 833px;
    gap: 0px;
    opacity: 0px;
    background: #00D594;
border:1px solid #00D594 ;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

