.main-img {
    background-image: url("../files/4aa7439ad1c7de51f56d614d10e59584.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930px;
    height: 900px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px -100px 160px 40px #171717 inset;
}



.navbar {
    display: flex;
    align-items: center;
    max-width: 1930px;
    margin-top: -25px;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: space-between;
}

.img1 {
    width: 105.46px;
    height: 66.76px;
    margin-top: -25px;
}

.nav-body {
    display: flex;
    gap: 30px;
}

.linear {
    max-width: 1930px;
    width: 1930px;
    height: 3.5px;
    background-color: #FFFFFF;
    margin-left: -59.3px;
    margin-right: -59.3px;
}

.nav-body .montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    color: #fff;
    cursor: pointer;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 44px;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    margin-top: -10px;

}


.hero-text {
    color: #fff;
    width: 70%;
    margin: 50px 150px;
    text-align: center;
}

.hero-text p {
    font-family: "Noto Serif", serif;
    font-size: 84px;
    font-weight: 700;
    line-height: 112px;
    text-align: left;
    margin-top: -70px ;
}

.hero-subtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    width: 50%;
}

.div-info {
    display: flex;
    flex-direction: row;
    max-width: 1842px;
    max-height: 854.06px;
    padding: 20px;
    gap: 50px;
    margin-top: -70px;
}

.image-container {
    flex: 1.2;
    position: relative;
}

.img2 {
    max-width: 752.43px;
    max-height: 854.03px;
    object-fit: cover;
    margin-top: -10%;
}


.text-container {
    flex: 1.5;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.info-item {
    display: flex;
    align-items: flex-start;
}

.info-item2 {
    display: flex;
    align-items: flex-start;
}

.info-item3 {
    display: flex;
    align-items: flex-start;
}

.icons {
    max-width: 80.71px;
    max-height: 80.71px;
    margin-top: 70px;
    margin-left: -10px;
}

.icon {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 10px;
}

.icones {
    max-width: 53.71px;
    max-height: 53.71px;
    margin-top: 47px;
}

.text-content2 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content3 h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 15px;
}

.text-content3 p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
    margin-left: 15px;
}

.text-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.text-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 21.94px;
    font-weight: 400;
    max-width: 731.57px;
}

.we {
    display: flex;
    padding: 10px;
    margin-top: -150px;
}

.image-container {
    position: relative;
    width: 650px;
    height: 850.52px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.cm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 80px;
    border-radius: 40px;
}


.image-containerr {
    position: relative;
    width: 100%;
    height: 795px;
    border-radius: 40px;
    background-size: 100%, contain;
    margin-top: 50px;
    overflow: hidden;
}

.image-containerr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 237, 237, 0) 40%, rgba(9, 8, 8, 0.96) 90.67%);
    border-radius: 10px;

}

.cd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1930px;
    flex-wrap: wrap;
    gap: 30px;
}


.ms {
    position: absolute;
    bottom: 50px;
    left: 100px;
    color: #FFFFFF;
    z-index: 1;
}

.ms h2, .ms p {
    padding: 0;
}

.button12 {
    background: #00D594;
    border: none;
    padding: 10px 20px;
    width: 206px;
    height: 68px;
    color: white;
    cursor: pointer;
    margin-left: 120px;
}

.button12 img {
    vertical-align: middle;
    margin-right: 5px;
}

.you1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #004530;
    margin-bottom: 20px;
}

.you2 {
    font-family: "Noto Serif", serif;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 112.02px;
    text-align: left;
    margin-left: 50px;
}

.you {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #666;
    width: 1000px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.girl-img {
    width: 352px;
    margin-top: -40px;
    border-radius: 14px;
}

.me {
    width: 850px ;
    max-height: 586.27px;
    gap: 169.6px;
    border-radius: 28.27px;
    background: #8DD3BB;
}

.me {
    font-family: "Montserrat", sans-serif;
    font-size: 56.53px;
    font-weight: 700;
    line-height: 68.92px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 10px;

}

.wit {
    width: 400.45px;
    height: 282.67px;
    border-radius: 16.96px 0px 0px 0px;
    border: 2.83px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.kl {
    display: flex;
    padding: 10px;
    max-width: 1930px;
    justify-content: center;
}


.react-multi-carousel-item {
    display: flex ;
    justify-content: center;
    width: 430px;
    gap: 220px ;
}

.be {
    background-color: #ffffff;
    color: #8DD3BB;
    border: 1.41px solid #8DD3BB;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 45px;
}


.text-class {
    font-family: "Montserrat", sans-serif;
    font-size: 29.55px;
    font-weight: 700;
    max-width: 1002px;
    line-height: 37.25px;
    text-align: left;
    color: #fff;
    margin-left: 300px;
    margin-top: 70px;
}

.div-request {
    background-image: url("../files/rasmcha.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1930px;
    width: 1577.16px;
    height: 400px;
    top: 5026px;
    border-radius: 15px;
    padding-top: 50px;
    margin: 50px auto;
    justify-content: center;
}

.same-class {
    font-size: 30.26px;
    font-weight: 300;
    line-height: 38.28px;
    text-align: left;
    color: #fff;
    margin-left: 300px;
}

.request-text {
    margin-top: -410px;
    margin-left: 50px;
}


.input1 {
    display: block;
    margin-bottom: 20px;
}

.input {
    display: flex;
}

.input-container input {
    margin-right: 550px ;
}



.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -300px;
}

.input, .input1 {
    width: 80%;
    max-width: 450.15px ;
    height: 55px;
    padding: 10px;
    margin-left: 435px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.box {
    display: flex;
    width: 1500px;
}


.m {
    padding: 20px;
}

.op {
    width: 40px ;
    margin-left: -17px;
    height: 1px;
    border: 5px solid #00D594;
}

.comment-container {
    margin-top: 20px;
    width: 400.22px ;
    height: 383.05px;
    opacity: 1;
    transition: transform 0.3s, box-shadow 0.3s;
}

.comment-container.center-card {
    transform: translateY(-35px);
    box-shadow: 0px 24.91px 36.87px 0px rgba(0, 92, 0, 0.33);
}


.buttin {
    margin-left: 550px;
    width: 254px;
    height: 66px;
    top: 7304.44px;
    left: 833px;
    gap: 0px;
    opacity: 0px;
    color: #fff3cd;
    border: 1px solid #00D594;
    background: #00D594;
}

.divcha{
    margin-bottom: 100px ;
    margin-left: -40px;
}

.mn{
    margin-left: 150px;
    display: flex;
    margin-top: -70px;
}
.vbn {
    font-family: "Montserrat", sans-serif;
    font-size: 57.04px;
    font-weight: 700;
    line-height: 69.54px;
    text-align: left;
    margin-top: 50px;
}
.olo {
    font-family: "Montserrat", serif;
    font-size: 22.18px;
    font-weight: 400;
    line-height: 27.03px;
    text-align: left;
    margin-bottom: 100px;
}
.pepe{
    font-family: "Montserrat", sans-serif;
    font-size: 35.28px;
    font-weight: 500;
    line-height: 43.01px;
    text-align: left;
    margin-top: -20px;
}

.page-container{
    max-width: 1450px ;
    margin: 0 auto;
}

.request-button {
    width: 100%;
    max-width: 262px;
    height: 55px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00D594;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: -64px;
    margin-left: 620px;
}

.request-button:hover {
    background-color: #00b67f;
}

.me {
    width: 1000px;
    margin-left: 20px;
}

.us {
    font-family: "Noto", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 68.1px;
    text-align: center;
    max-width: 1930px;
}

.buttin {
    width: 254px;
    height: 66px;
    background: #00D594;
    border: 1px solid #00D594;
    color: #FFFFFF ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto ;
}

ul.your-class li, ol.your-class li {
    list-style: none;
    margin: 0;
    margin: 0;
    padding: 0;
}

.div-travel {
    padding: 50px 0;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .div-request{
        height: 500px;
    }

    .girl-img{
        margin-top: -50px;
        width: 500px;
        height: 500px;
    }

    .text-class{
        margin-left: 450px;
        margin-top: -100px;
    }

    .same-class{
        margin-left: 450px;
        margin-top: 20px;
        width: 850px;
    }

    .input-container{
        margin-left: -50px;
        margin-top: 50px;
    }

    .me {
        width: 605px;
        margin-left: 0px;
    }

    .wit {
        margin-left: 25px;
    }

    .be {
        margin-right: 40px;
    }

    .input-container {
        margin-left: -360px;
    }


    .page-container{
        max-width: 1920px ;
        margin: 0 auto;
    }


    .me{
        width: 1000px ;
        padding:30px;
    }

    .op{
        width: 500px;
        margin-left: -20px;
    }
    .m{
        width: 500px ;
    }

    .page-container{
        margin:0 50px ;
    }

    .comment-container{
        width: 500px ;
    }
}




@media screen and (max-width: 1600px) {
    .me{
        width: 700px ;
    }

    .op{
        width: 400px;
        margin-left: -20px;
    }
    .m{
        width: 500px;
    }

    .page-container{
        margin:0 50px ;
    }

    .comment-container{
        width: 400px ;
    }

    .div-request{
        width: 1400px ;
        height: 459px;
    }

    .girl-img{
        width: 440px;
        height: 440px;
        margin-top: -32px;
    }

    .text-class{
        margin-left: 400px;
        margin-top: 30px;
        width: 950px;
    }

    .same-class{
        margin-left: 400px;
        margin-top: 20px;
        width: 850px;
    }

    .input-container{
        margin-left: 20px ;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1376px) {
    .me{
        width: 460px;
    }

    .div-request{
        width: 1200px ;
    }

    .text-class{
        margin-left: 400px;
        margin-top: 30px;
        width: 800px;
    }

    .same-class{
        margin-left: 400px;
        margin-top: 20px;
        width: 700px;
    }

    .input-container{
        margin-left: 220px;
        margin-top: 50px;
    }

    .op{
        width: 400px;
        margin-left: -20px;
    }
    .m{
        width: 400px;
    }

    .page-container{
        margin:0 50px ;
    }

    .comment-container{
        width: 400px;
    }

}


@media screen and (max-width: 1367px) {
    .me{
        width: 500px !important;
    }

    .button12{
        margin-left: -20px;
    }

    .div-request{
        width:1200px ;
    }

    .text-class{
        margin-left: 400px;
        margin-top: 30px;
        width: 800px;
    }

    .same-class{
        margin-left: 400px;
        margin-top: 20px;
        width: 700px;
    }

    .input-container{
        margin-left: 220px;
        margin-top: 50px;
    }

    .op{
        width: 400px;
        margin-left: -20px;
    }
    .m{
        width: 400px;
    }

    .page-container{
        margin:0 50px ;
    }

    .comment-container{
        width: 400px ;
    }
}

@media screen and (max-width: 1630px) {
    .me{
        width: 700px ;
    }

    .op{
        width: 420px;

    }
    .m{
        width: 420px ;
    }

    .page-container{
        margin:0 50px ;
    }

    .comment-container{
        width: 420px ;
    }

    .div-request{
        width: 1400px ;
        height: 459px;
    }

    .girl-img{
        width: 440px;
        height: 440px;
        margin-top: -32px;
    }

    .text-class{
        margin-left: 400px;
        margin-top: 30px;
        width: 950px;
    }

    .same-class{
        margin-left: 400px;
        margin-top: 20px;
        width: 850px;
    }

    .input-container{
        margin-left: 20px   ;
        margin-top: 50px;
    }
}

.rem {
    max-width: 1930px;
    display: flex;
    align-items: center;
    gap: 125px;
    margin: 0 auto;
    justify-content: space-between;
}


