.all {
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
    overflow-y: hidden;
}
.header {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.header p {
    margin: 0 20px;
    padding: 10px 15px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.header p:hover {
    background-color: #f2f2f2;
}

.header p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.header p:hover::after {
    background-color: #00D594;
}

.title {
    color: rgb(66, 66, 66);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
}

.obshiy {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    color: #424242;
    text-align: left;
    margin-top: 20px;
}

.vide2 {
    max-width: 100%;
    width: 1632px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 1632px) {
    .vide2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 20px;
    }
}

.parent-container {
    overflow: hidden;
    width: 100%;
}


.chiziq3 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 110px;
}

.programma {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 112.9px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -60px;
    margin-left: 160px;
}

.day-container {
    display: flex;
    align-items: center;
    margin-top: 103px;

}
.day-content{

}
@media (max-width: 768px) {
    .desc-card {
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }
}



@media (max-width: 768px) {
    .day-container {
        display: flex;
        align-items: center;
    }
    .den-2s{
        margin-left: -200px;
    }

    .day-container p, .day-container ul {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .den-1s li,
    .den-2s li,
    .den-3s li,
    .den-4s li,
    .den-com li,
    .den2-com li,
    .den3-com li,
    .den4-com li {
        display: block;
        margin-bottom: 10px;
        word-wrap: break-word;
    }
}

.day {
    width: 105px;
    height: 66px;
    color: rgb(0, 69, 48);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 33px;
    margin-top: -55px;
}

.desc-card {
    width: 100%;
    max-width: 1180px;
    height: auto;
    border-radius: 5px;
    background: rgba(0, 213, 148, 0.1);
    padding: 15px;
    margin-top: -90px;
    transition: height 0.3s ease-in-out;
}


.desc-card.expanded {
    height: 300px;
}
.btn-page {
    width: 68.26px;
    height: 68.26px;
    background: rgba(0, 213, 148, 0.25);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-family: Montserrat;
    border: 1px solid rgba(0, 213, 148, 0.25);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    letter-spacing: 0%;
    margin-left: 37px;
}
.btn-page-minus  {
    width: 68.26px;
    height: 68.26px;
    background: rgba(0, 213, 148, 0.25);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-family: Montserrat;
    border: 1px solid rgba(0, 213, 148, 0.25);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -290px;
    letter-spacing: 0%;
    margin-left: 37px;
    padding-top: -10px;
}


.chiziq4 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 128px;
}
.dest{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 112.9px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -60px;
    margin-left: 160px;
}
@media (max-width: 768px) {
    .dest {
        font-size: 28px;
        margin-left: 20px;
    }
}

.den-1{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
}
.den-1s {
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: -30px;
    margin-top: -10px;
    text-transform: lowercase;
}

.den-com {
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}

.lijon{
    margin-top: 5px;
}
.lijon2{
    margin-top: 7px;
}
.lijon3{
    margin-top: 7px;
}.lijon4{
     margin-top: 10px;
 }
.lijon5{
    margin-top: 7px;
}
.lijon6{
    margin-left: 152px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-2{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
    margin-left: 962px;
    margin-top: -260px;
}

.desc-page {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.day-container {
    margin-bottom: 20px;
}

.desc-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.desc-card.expanded {
    max-height: 600px;
}

.desc-page {
    display: flex;
    flex-direction: column;
}

.initial-description {
    margin-bottom: 10px;
}

.expanded-content {
    display: flex;
    align-items: center;
}

.expanded-image {
    width: 328px;
    height: 246px;
    margin-right: 20px;
    margin-top: 5px;

}

.expanded-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.expanded-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.expanded-description {
    margin-bottom: 10px;
    margin-left: 40px;
}

.city {
    width: 28px;
    height: 28px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 40px;
}

.citys {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    line-height: 18.29px;
    text-align: left;
    margin-left: 75px;
    margin-top: -21px;
}

.days {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    margin-left: 40px;
}

.tours {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    margin-top: -43px;
    margin-left: 120px;
}

.den-2s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 932px;
    margin-top: -10px;
    text-transform: lowercase;
}

.den2-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.zavt{
    margin-left: 1022px;
    color: rgb(153, 153, 153);
    list-style: none;
    margin-top: -230px;
}
.den2-li{
    margin-top: 207px;
}
.lijon7{
    margin-left: 172px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-3{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
}
.den-3s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: -30px;
    margin-top: -10px;
    text-transform: lowercase;
}
.den3-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.den3-li{
    margin-top: 225px;
}
.lijon8{
    margin-left: 392px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-4{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
    margin-left: 962px;
    margin-top: -330px;
}
.den-4s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 932px;
    margin-top: -10px;
    text-transform: lowercase;
}
.den4-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.prib{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
    margin-top: 200px;
}
.chiziq5 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 113px;
}
.cardcha {
    width: 1226px;
    height: 60px;
    background: rgba(0, 213, 148, 0.1);
    text-align: center;
    margin-top: 8px;
}

.dess {
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px;
}


.ccha {
    color: rgb(153, 153, 153);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;

    margin-right: 5px;
}

.dess span + span {
    margin-left: 50px;
}

.byn{
    font-family: Lato;
    font-size: 20px;

    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

}
.eur{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(223, 112, 33);
}
.zab{
    width: 182.53px;
    height: 46.88px;
    border-radius: 3px;
    background: rgb(0, 69, 48);
    margin-left: 192px;
    margin-top: -13px;
    color: white;
}
.comments{
    list-style: none;
    color: rgb(66, 66, 66);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
}
.footer-page{
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
}
.footer-img-page{
    width: 183px;
    height: 115px;
    margin-left: 150px;
}
.content{
    color: rgb(153, 153, 153);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 90px;
    margin-left: -650px;
}
.header2 {
    width: 727px;
    height: 44px;
    padding-left: 110px;
    display: flex;
    gap: 38px;
    color: rgb(16, 16, 16);
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.header2 p {
    position: relative;
    padding-bottom: 5px;
    transition: transform 0.3s;
}

.header2 p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #00D594;
    transition: width 0.3s;
}

.header2 p:hover {
    transform: scale(1.1);
}

.header2 p:hover::after {
    width: 100%;
}
.number-3{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;
    margin-left: 50px;
    color: #004530;

}
.number-4{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;
    margin-top: 50px;
    margin-left: -105px;
    color: #004530;

}
.footer-imgs{
    width: 16px;
    height: 16px;
    display: flex;
    gap: 4px;
    margin-top: 80px;
    margin-left: -110px;
}