@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.all {
    margin: 0 auto;
    max-width: 1930px;
    height: auto;
}
@media (max-width: 1931px) {
    .all{
        margin-left: 250px;
    }
}
@media (max-width: 1920px) {
    .all{
        margin-left: 300px;
    }
}

@media (max-width: 1707px) {
    .all{
        margin-left: 100px;
    }
}
@media (max-width: 1536px) {
    .all{
        margin-left: 15px;
    }
}
@media (max-width: 1397px) {
    .all{
        width: 1397px;
        margin: 0 auto;
    }
}
@media (max-width: 1220px) {
    .all{
        width: 1220px;
        margin-left: 200px;
    }
}
.usus{
    width: 100%;
}
@media (max-width: 1229px) {
    .usus{
        width: 1228px;
    }

}
@media (max-width: 1200px) {
    .all{
        width: 100%;
      margin: 0 auto;
    }
}

.header {
    max-width: 727px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    gap: 30px;
    font-weight: 500;
    margin: 0 auto;
}

.title {
    font-family: "Montserrat", serif;
    color: rgb(66, 66, 66);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0%;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;

}
@media (max-width: 1397px) {
    .title{
        width: 1396px;
    }
}
@media (min-width: 1607px) {
    .header{
        margin-right: 600px;
    }
    .title{
       margin-right: 280px;
    }
}
@media (max-width: 1708px) {
    .header{

        margin: 0 auto;
        padding-left: 70px;
    }
    .title{
        margin-right: -100px;
    }
}
@media (max-width: 1930px) {
    .title{
        margin-left: -200px;
    }
    .header{
        margin-left: 350px;
    }
}
@media (max-width: 1920px) {
    .title{
        margin-left: -0px;
    }
    .header{
        margin-left: 350px;
    }
}
@media (max-width: 1220px) {
    .header {
        margin-left: 170px;
    }
}
@media (max-width: 1220px) {
    .title {
        margin-left: -120px;
    }
}

@media (max-width: 1930px) {
    .page-body{
        margin-left: -130px;
    }
}
@media (max-width: 1707px) {
    .page-body{
        margin-left: 50px;
    }
}
@media (max-width: 1536px) {
    .page-body{
        margin-left: 50px;
    }
}
.header p {
    margin: 0 20px;
    padding: 10px 15px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    position: relative;
}
@media (max-width: 791px) {
    .header {
        margin-left: -30px;
    }
}
@media (max-width: 791px) {
    .title {
        margin-left: -130px;
    }
}
.header p:hover {
    background-color: #f2f2f2;
}

.header p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.header p:hover::after {
    background-color: #00D594;
}


.div-obshiy{
    width: 1632px;
}
@media (max-width: 1932px) {
    .div-obshiy {
        width: 1440px;
    }

}
@media (max-width: 1921px) {
    .div-obshiy {
        width: 1632px;
        margin-left: -150px;
    }

}


@media (max-width: 1707px) {
    .div-obshiy {
        width: 1440px;
        margin-left: 40px;
    }

}
@media (max-width: 1630px) {
    .div-obshiy {
        width: 1440px;
    }

}
@media (max-width: 1440px) {
    .div-obshiy {
        width: 1400px; /* Full width */
        padding: 20px;
        margin-left: 40px;

    }
}
@media (max-width: 1400px) {
    .div-obshiy {
        width: 1300px; /* Full width */
        padding: 20px;
        margin-left: 40px;

    }
}
@media (max-width: 1229px) {
    .div-obshiy {
        width: 1100px;
    }
}
@media (max-width: 791px) {
    .div-obshiy {
        width: 750px;
    }
}
.obshiy {
    font-family: Montserrat sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.2px;
    color: #424242;
    padding: 40px;
    margin-top: 20px;
}

@media (max-width: 1931px) {
    .obshiy {
        font-size: 18px;
        padding: 35px;
        margin-top: 18px;
    }
}
@media (max-width: 1440px) {
    .obshiy {
        font-size: 18px;
        padding: 35px;
        margin-top: 18px;
    }
}

@media (max-width: 1200px) {
    .obshiy {
        font-size: 16px;
        padding: 30px;
        margin-top: 16px;
    }
}

@media (max-width: 992px) {
    .obshiy {
        font-size: 14px;
        padding: 25px;
        margin-top: 14px;
    }
}

@media (max-width: 768px) {
    .obshiy {
        font-size: 12px;
        padding: 20px;
        margin-top: 12px;
    }
}

@media (max-width: 480px) {
    .obshiy {
        font-size: 10px;
        padding: 15px;
        margin-top: 10px;
    }
}

.vide2 {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}


@media (max-width: 1707px) {
    .vide2 {
        width: 1440px;
        padding-left: 200px;
    }
}
@media (max-width: 1632px) {
    .vide2 {
        width: 1440px;
         margin-left: -0px;
    }
}

@media (max-width: 1930px) {
    .vide2 {
        width: 1632px;
        margin-left: -160px;
    }
}
@media (max-width: 1441px) {
    .vide2 {
        max-width: 1400px;
        margin-left: -78px;
    }
}
@media (max-width: 1400px) {
    .vide2 {
        width: 1300px;
        padding: 20px;
        margin-left: 40px;

    }
}
@media (max-width: 1229px) {
    .vide2 {
        width: 1090px;
        padding: 20px;
        margin-left: 40px;

    }
}

@media (max-width: 992px) {
    .vide2 {
        width: 1220px; /* Full width */
        padding: 20px;
        margin-left: 40px;

    }
}

@media (max-width: 791px) {
    .vide2 {
        width: 100%; /* Full width */
        padding: 15px; /* Adjust padding if needed */
        margin-left: 40px;

    }
}

@media (max-width: 480px) {
    .vide2 {
        width: 100%; /* Full width */
        padding: 10px; /* Adjust padding if needed */
        margin-left: 40px;

    }
}

.parent-container {
    overflow: hidden;
    width: 100%;
}


.chiziq3 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 110px;
}

.programma {
    font-family: "Montserrat", serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: 112.9px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -60px;
    margin-left: 160px;
}

.day-container {
    display: flex;
    align-items: center;
    margin-top: 103px;
}
.day-content{
flex-wrap: wrap;
    width: 1440px;
}
@media (max-width: 768px) {
    .desc-card {
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }
}



@media (max-width: 1931px) {
    .day-container {
        display: flex;
        align-items: center;
        width: 1440px;
    }
}
@media (max-width: 1632px) {
    .day-container {
        display: flex;
        align-items: center;
        width: 1140px;
    }
}
@media (max-width: 1440px) {
    .day-container {
        display: flex;
        align-items: center;
        width: 1200px;
    }
}
@media (max-width: 1229px) {
    .day-container {
        display: flex;
        align-items: center;
        width: 1000px;
    }
}
@media (max-width: 791px) {
    .day-container {
        width: 600px;
    }
}
.day {
    font-family: "Montserrat", serif;
    width: 105px;
    height: 66px;
    color: rgb(0, 69, 48);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 33px;
    margin-top: -55px;
}

.desc-card {
    width: 100%;
    max-width: 1180px;
    height: auto;
    border-radius: 5px;
    background: rgba(0, 213, 148, 0.1);
    padding: 15px;
    margin-top: -90px;
    transition: height 0.3s ease-in-out;
}


.desc-card.expanded {
    height: 300px;
}
.btn-page {
    font-family: "Montserrat", sans-serif;

    width: 68.26px;
    height: 68.26px;
    background: rgba(0, 213, 148, 0.25);
    color: rgb(0, 0, 0);
    border-radius: 50%;

    border: 1px solid rgba(0, 213, 148, 0.25);

    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    letter-spacing: 0%;
    margin-left: 37px;
}
.btn-page-minus  {
    font-family: "Montserrat", serif;

    width: 68.26px;
    height: 68.26px;
    background: rgba(0, 213, 148, 0.25);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid rgba(0, 213, 148, 0.25);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -290px;
    letter-spacing: 0%;
    margin-left: 37px;
    padding-top: -10px;
}


.chiziq4 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 128px;
}
.dest{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 112.9px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -60px;
    margin-left: 160px;
}
@media (max-width: 768px) {
    .dest {
        font-size: 28px;
        margin-left: 20px;
    }
}

.day-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}
@media (max-width: 1557px) {
    .day-content{
        width: 1100px;

    }
}
@media (max-width: 1440px) {
    .day-content{
        width: 1100px;

    }
}
@media (max-width: 1229px) {
  .day-content{
      width: 900px;
  }
}
@media (max-width: 791px) {
    .day-content {
        width: 700px;
    }

}
.v{
    font-family: Montserrat sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 112.9px;
    text-align: left;

}

.day-wrapper {
    padding: 1rem;
    border-radius: 5px;

}

.daylar {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.den-1 {
    display: flex;
    align-items: center;

}

.day-border {
    flex-grow: 1;
    height: 1px;
    margin-left: 0.5rem;
}

.day-data {
    display: flex;
    align-items: center; /* Align items to the center vertically */
    gap: 25px; /* Remove any gap between items */
}

.day-text {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    color: #333;
    margin: 0; /* Remove any margin */
}

.den-com {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
    color: #777;
    margin: 0; /* Remove any margin */
}

@media (max-width: 790px) {
    .den-com{
        font-family: "Montserrat", serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 31.2px;
        text-align: left;
        color: #777;
        margin: 0; /* Remove any margin */
    }
}




.lijon{
    margin-top: 5px;
}
.lijon2{
    margin-top: 7px;
}
.lijon3{
    margin-top: 7px;
}.lijon4{
     margin-top: 10px;
 }
.lijon5{
    margin-top: 7px;
}
.lijon6{
    margin-left: 152px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-2{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
    margin-left: 962px;
    margin-top: -260px;
}

.desc-page {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
}


.desc-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.desc-card.expanded {
    max-height: 600px;
}

.desc-page {
    display: flex;
    flex-direction: column;
}

.initial-description {
    margin-bottom: 10px;
}

.expanded-content {
    display: flex;
    align-items: center;
}

.expanded-image {
    width: 328px;
    height: 246px;
    margin-right: 20px;
    margin-top: 5px;

}


.expanded-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.expanded-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.expanded-description {
    margin-bottom: 10px;
    margin-left: 40px;
}

.city {
    width: 28px;
    height: 28px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 40px;
}

.citys {
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18.29px;
    text-align: left;
    margin-left: 75px;
    margin-top: -21px;
}
@media (max-width: 791px) {
    .expanded-image{
        width: 178px;
        height: 248px;
    }
    .expanded-info{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .expanded-description{
        font-size: 8px;
        margin-left: 10px;
    }


}
.days {
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    margin-left: 40px;
}
.tours {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    margin-top: -40px;
    margin-left: 150px;
}
@media (max-width: 1930px) {
    .days {
        margin-left: 40px;
    }
    .tours {
        margin-left: 150px;
    }
    .citys{
        margin-left: 80px;
    }
}
@media (max-width: 1630px) {
    .days {
        margin-left: 40px;
    }
    .tours {
        margin-left: 150px;
    }
    .citys{
        margin-left: 80px;
    }
}

/* Media query for screens up to 1400px */
@media (max-width: 1400px) {
    .days {
        margin-left: 40px;
    }
    .tours {
        margin-left: 150px;
    }
    .citys{
        margin-left: 80px;
    }
}

/* Media query for screens up to 1200px */
@media (max-width: 1200px) {
    .days {
        margin-left: 40px;
    }
    .tours {
        margin-left: 150px;
    }
    .citys{
        margin-left: 80px;
    }
}

/* Media query for screens up to 992px */
@media (max-width: 992px) {
    .days {
        margin-left: 40px;
    }
    .tours {
        margin-left: 150px;
    }
    .citys{
        margin-left: 80px;
    }
}

/* Media query for screens up to 768px */
@media (max-width: 790px) {
    .days{
        font-size: 14px;
        line-height: 29.26px;
        margin-left: 10px;
    }
    .tours {
        font-size: 10px;
        margin-left: 70px;
    }
    .city{
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }
    .citys{
        margin-left: 30px;
        margin-top: -15px;
        font-size: 8px;
    }
    .dest{
        margin-left: 150px;
    }
}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
    .days {
        margin-left: -450px;
    }
    .tours {
        margin-left: -140px;
    }
    .citys{
        margin-left: -240px;
    }
}


.den-2s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 932px;
    margin-top: -10px;
    text-transform: lowercase;
}

.den2-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.zavt{
    margin-left: 1022px;
    color: rgb(153, 153, 153);
    list-style: none;
    margin-top: -230px;
}
.den2-li{
    margin-top: 207px;
}
.lijon7{
    margin-left: 172px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-3{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
}
.den-3s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: -30px;
    margin-top: -10px;
    text-transform: lowercase;
}
.den3-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.den3-li{
    margin-top: 225px;
}
.lijon8{
    margin-left: 392px;
    margin-top: -25px;
    color: rgb(223, 112, 33);
}
.den-4{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: lowercase;
    margin-left: 962px;
    margin-top: -330px;
}
.den-4s{
    font-family: Lato;
    font-size: 20px;
    list-style: none;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 932px;
    margin-top: -10px;
    text-transform: lowercase;
}
.den4-com{
    color: rgb(153, 153, 153);
    list-style: none;
    margin-left: 70px;
    margin-top: -33px;
}
.prib{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 156%;
    padding-left: 18px;
    text-align: left;
    text-transform: lowercase;
}
@media (max-width: 1397px) {
    .prib{
        width: 1396px;
    }
}
.chiziq5 {
    width: 109.63px;
    border: 5.04px solid rgb(71, 71, 71);
    margin-top: 113px;

}
.cardcha {
    padding: 20px;
}
@media (max-width: 1229px) {
    .cardcha {
        width: 1228px;
    }
}
@media (max-width: 1397px) {
    .cardcha {
        width: 1396px;
    }
}

.dess {
    max-width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F9F9; /* Light background color */
    border: 1px solid #E5E5E5; /* Light border */
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 450px;
}
@media (max-width: 1229px) {
    .dess{
      width: 900px;
    }
}
@media (max-width: 791px) {
    .dess {
        width: 700px;
    }
}
.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-wrapper > div {
    display: flex;
    align-items: center;
}

.ccha, .cchas, .cchac {
    color: rgb(153, 153, 153);
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    margin-right: 10px;
}
.ccha{
    margin-left: 15px;
}

.cchac{
    margin-left: 10px;
}

.cchas {
    margin-left: 10px;
    margin-top: 17px;
}

.byna{
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:4px;
}

.byn {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}
.textcha{
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
}
@media (max-width: 1397px) {
    .textcha{
        width: 1396px;
    }
}
.byn + span {
    color: #DF7021; /* Price in EUR */
    margin-left: 5px;
}
.eur{
    color: rgb(223, 112, 33);
}
.zab {
    background-color: #004530;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.zab:hover {
    background-color: #064C49;
}

.abouts{
    margin-left: -50px;
    text-align: left;
    padding-left: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #E5E5E5;
    margin: 10px 0;
}



.comments{
    list-style: none;
    color: rgb(66, 66, 66);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 156%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: -32px;
}
@media (max-width: 1229px) {
    .comments {
        width: 1228px;
    }
}
.footer-page{
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
}
@media (max-width: 1930px) {
    .footer-page {
        width: 1430px;
    }
}

@media (max-width: 1440px) {
    .footer-page {
        width: 1440px;
    }
}
@media (max-width: 1400px) {
    .footer-page {
        width: 1300px; /* Full width */
        padding: 20px;
        margin-left: 40px;

    }
}

@media (max-width: 1229px) {
    .footer-page {
        width: 1228px;
    }
}
@media (max-width: 1200px) {
    .footer-page {
        width: 1200px;
    }
}
.footer-img-page{
    width: 183px;
    height: 115px;
    margin-left: 150px;
}
@media (max-width: 1397px) {
    .footer-img-page{
        width: 133px;
        height: 115px;
        margin-left: 50px;
    }
}

.content{
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.29px;
    text-align: center;

    color: rgb(153, 153, 153);
    margin-top: 90px;
    margin-left: -650px;
}
.header2 {
    width: 727px;
    height: 44px;
    padding-left: 110px;
    display: flex;
    gap: 66px;
    color: rgb(16, 16, 16);
    cursor: pointer;
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
@media (max-width: 769px) {
    .footer-img-page{
        width: 100px;
        height: 85px;
        margin-left: -50px;
    }
    .header2{
        margin-left: -50px;
        font-size: 14px;
        width: 147px;
    }
    .footer-number{
        margin-left: 350px;
        display: flex;
        font-size: 8px;
    }
}
@media (max-width: 1229px) {

    .header2 {
        width: 627px;
    }
    .content{
        font-family: Montserrat sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 14.29px;
        text-align: center;
        color: rgb(153, 153, 153);
        margin-top: 90px;
        margin-left: -490px;
    }
}
.header2 p {
    position: relative;
    padding-bottom: 5px;
    transition: transform 0.3s;
}

.header2 p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #00D594;
    transition: width 0.3s;
}

.header2 p:hover {
    transform: scale(1.1);
}

.header2 p:hover::after {
    width: 100%;
}
.number-3{
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;
    color: #004530;

}
/*.chiziq6{*/
/*    width: 1440px;*/
/*    border: 1px solid #DDDDDD;*/
/*}*/
/*@media screen and (max-width: 1229px){*/
/*    .chiziq6{*/
/*        width: 1228px;*/
/*    }*/
/*}*/
.footer-number{
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}
.number-4{
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: left;

    color: #004530;

}
.footer-imgs{
    width: 16px;
    height: 16px;
    display: flex;
    gap: 4px;

}
.ro{
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 1397px) {
    .ro{
        width: 1396px;
    }
}